.rate {
    background-color: var(--white);
    padding: 20px;
}

.block {
    position: relative;
    padding: 20px 15px 20px 20px;
    border: 1px solid #747474;
    border-top: 1px solid var(--basic-light);
    border-radius: 12px;
    background: var(--bg);
    margin: 20px;
}

.block div {
    margin-bottom: 20px;
}

.block .currency-in, .block .currency-out {
    font-size: 1.3rem;
    text-align: right;
}
